[run]
omit = *mock*, *json*, *bs4*, *html*, *pafy*, *xml*, *stringprep*, *_markupbase*, *encodings*

[report]
omit = *mock*, *json*, *bs4*, *html*, *pafy*, *xml*, *stringprep*, *_markupbase*, *encodings*
